<div *ngIf="loaded">

<app-catalogue-list-item

*ngFor="let property of properties" 
[property]="property"
(propertyClicked)="propertyClicked($event)"

>

</app-catalogue-list-item>
</div>
<ngb-pagination [collectionSize]="100" [(page)]="page" [pageSize]=10 aria-label="Default pagination"(pageChange)="loadNextPage()"></ngb-pagination>
