<div *ngIf="loaded">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{property.name}}</h1>
      <p class="lead">{{property.municipality}}</p>
    </div>
  </div>

  <app-carousel [images]=(images) [blur]=(isGuest)>
  </app-carousel>
  <div *ngIf="isAgent || isBuyer">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{property.city}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{property.line}}</h6>
        <p class="card-text">{{property.line2}}
        <p>
      </div>
    </div>
    <div class="container">
      <div class="row">Valuation</div>
      <div class="row" *ngFor="let valuation of property.valuations">
        <p>{{valuation}}</p>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="row">Renovations:</div>
      <div class="row" *ngFor="let renovation of property.renovations">
        <p>{{renovation}}</p>
      </div>
    </div>
  </div>
</div>