<div *ngIf="loaded">
    <div class="card">
      <div class="card-body" (click)="cardClicked()">
          <div class="row">
            <div class="col-sm">
            <img
            id="property-image"
            src="{{property.propertyImages[0]}}"
            alt=""
          /> 
        </div>
              <div class="col-sm">
                  {{name}}

              </div>
              <div class="col-sm">
                {{line}}
              </div>
              <div class="col-sm">
                {{line2}}
              </div>
              <div class="col-sm">
                {{municipality}}
              </div>
            </div>
      </div>
    </div>
</div>