
<div class="header">
    <div class="row">
        <div class="col-md-8">
            <h1 style="text-align: left;">Properties site</h1>
        </div>
    </div>
</div>
<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
        <a ngbNavLink (click)="home()">Home</a>
      </li>
    <li ngbNavItem>
      <a ngbNavLink (click)="catalogue()">Catalogue</a>
    </li>
    <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Profile</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="profile()">My profile</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="logout()">Logout</button>
        </div>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>