<ngb-carousel>
      <ng-template ngbSlide *ngFor = "let image of images" >
        <div class="wrapper">
          
          <img [src]=image alt="" [class.blur]="blur"/>
        </div>
        <div class="carousel-caption">
          <h3>A nice house</h3>
        </div>
        <div class="bg-text" *ngIf="blur">
          <h1>Log in to see this property</h1>
        </div>
      </ng-template>
  </ngb-carousel>